{$APP_DOMAIN} {
    encode gzip zstd

    redir /meet /meet/ 308

    @jitsi_config {
        path /meet/config.js /meet/interface_config.js
    }
    header @jitsi_config {
        Cache-Control "no-store, no-cache, must-revalidate"
        Pragma "no-cache"
        Expires "0"
    }

    @jitsi_html path_regexp jitsi_html ^/meet(?:/[^./?]+)?/?$
    header @jitsi_html {
        Cache-Control "no-store, no-cache, must-revalidate"
        Pragma "no-cache"
        Expires "0"
    }

    handle_path /meet/* {
        reverse_proxy jitsi-web:80 {
            transport http {
                dial_timeout 5s
            }
        }
    }

    @jitsi_transport {
        path /http-bind /xmpp-websocket /colibri-ws/* /colibri-relay-ws/*
    }
    handle @jitsi_transport {
        reverse_proxy jitsi-web:80 {
            transport http {
                dial_timeout 5s
            }
        }
    }

    handle {
        reverse_proxy web:80 {
            health_uri /healthz
            health_interval 30s
            health_timeout 5s
            transport http {
                dial_timeout 5s
            }
        }
    }
}
