<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="messenger-backend"/>

    <springProfile name="json-logs">
        <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <fieldName>@timestamp</fieldName>
                    </timestamp>
                    <pattern>
                        <omitEmptyFields>true</omitEmptyFields>
                        <pattern>
                            {
                              "service":"${appName}",
                              "level":"%level",
                              "logger":"%logger{36}",
                              "thread":"%thread",
                              "message":"%message",
                              "trace_id":"%X{traceId:-}",
                              "span_id":"%X{spanId:-}",
                              "exception":"%replace(%xThrowable){'\n','\\n'}"
                            }
                        </pattern>
                    </pattern>
                    <mdc/>
                </providers>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON"/>
        </root>
    </springProfile>

    <springProfile name="!json-logs">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
